{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Restaurant Gastronomique de Rouen{% endblock %}

{% block body %}
    <h1 class="mx-4 mt-4 mb-2">A l'affiche</h1>
    <section class="featured-items d-flex mb-2">
        <div id="carouselExampleIndicators" class="carousel slide m-0" data-bs-ride="true">
            <div class="carousel-indicators">
                {#
                for (featuredDish in featuredDishes) {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{featuredDishId}}" class="active"
                    aria-current="true" aria-label="Slide {{featuredDishId + 1}}"></button>
                }
                #}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {#
                for (featuredDish in featuredDishes) {
                    <div class="carousel-item active">
                        <div class="card text-bg-dark">
                            <img src="{{ featuredDish.image }}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ featuredDish.name }}</h5>
                                <p class="card-text">{{ featuredDish.desc }}</p>
                                <p class="card-text">Catégorie : {{ featuredDish.category }}</p>
                            </div>
                        </div>
                    </div>
                }}
                #}
                <div class="carousel-item active">
                    <div class="card text-bg-dark">
                        <img src="{{ testImage }}" class="card-img img-fluid" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Sample plate</h5>
                            <p class="card-text">A succulent plate made with much love.</p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="card text-bg-dark">
                        <img src="{{ testImage }}" class="card-img img-fluid" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Sample plate</h5>
                            <p class="card-text">A succulent plate made with much love.</p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="card text-bg-dark">
                        <img src="{{ testImage }}" class="card-img img-fluid" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Sample plate</h5>
                            <p class="card-text">A succulent plate made with much love.</p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="p-3 d-flex flex-column mw-100">
            <h2 class="fw-bolder fs-1 m-2 mb-4">Notre sélection : </h2>
            <p class="px-3">Nos meilleurs plats du moment, à déguster sans attendre ! Ces plats changent régulièrement
                en
                suivant les avis de nos clients.</p>
            <p class="px-3 flex-grow-1 mb-0">Venez découvrir ces plats <strong>fait maison</strong> du chef Michant en
                réservant votre
                table au plus vite.</p>
            <div class="d-flex flex-grow-0 justify-content-center">
                <a class="mx-2 book-table">Voir la carte &rarr;</a>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center align-items-center py-3 mb-3">
        <h2 class="p-0 m-0 fw-bolder">N'hésitez plus :</h2>
        <a class="mx-2 book-table">Réserver une table</a>
    </div>
    <footer class="py-3 d-flex">
        {# Left part with schedules #}
        <div class="d-flex flex-column align-items-center w-50">
            {# TODO Récupérer les horaires dans la base #}
            <h3 class="mb-2 fw-bolder">Nos horaires d'ouverture :</h3>
            <table class="schedule-table">
                <tbody>
                <tr>
                    <th>Lundi</th>
                    <td>
                        12:00-14:00<br>20:00-22:00
                    </td>
                </tr>
                <tr>
                    <th>Mardi</th>
                    <td>
                        12:00-14:00<br>20:00-22:00
                    </td>
                </tr>
                <tr>
                    <th>Mercredi</th>
                    <td>
                        Fermé
                    </td>
                </tr>
                <tr>
                    <th>Jeudi</th>
                    <td>
                        12:00-14:00<br>20:00-22:00
                    </td>
                </tr>
                <tr>
                    <th>Vendredi</th>
                    <td>
                        12:00-14:00<br>20:00-22:00
                    </td>
                </tr>
                <tr>
                    <th>Samedi</th>
                    <td>
                        19:00-23:00
                    </td>
                </tr>
                <tr>
                    <th>Dimanche</th>
                    <td>
                        12:00-14:00
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="footer-links d-flex flex-column align-items-center justify-content-around w-50">
            <a href="#">Contactez-nous</a>
            <a href="#">Notre politique <strong>fait maison</strong></a>
            <a href="#">Votre avis nous intéresse</a>
            <a href="#">Mentions légales</a>
            <p class="copyright">© quai-antique.com | 2022</p>
        </div>
    </footer>

{% endblock %}
