{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Restaurant Gastronomique de Rouen{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% block body %}
    {# Booking Modal #}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Réserver une table</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" {{ stimulus_controller('say-hello') }}>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="alert alert-primary">
                            Pour un formulaire prérempli avec vos données, pensez à vous
                            <a href="{{ path('app_login') }}">connecter</a>
                        </div>
                    {% endif %}
                    {{ form_start(booking_form, {'attr': {'id' : 'booking_form' ,'action' : '/booked'}}) }}
                    {{ form_row(booking_form.name) }}
                    {{ form_row(booking_form.cutleryNumber) }}
                    <div {{ stimulus_target('say-hello', 'date') }}>
                        {{ form_row(booking_form.date) }}
                    </div>
                    <div id="times" {{ stimulus_target('say-hello', 'output') }}>
                        {{ form_row(booking_form.time) }}
                    </div>
                    <div>
                        {% if userAllergies %}
                            Voici les allergies déjà enregistrées :
                            <ul>
                                {% for allergie in userAllergies %}
                                    <li>{{ allergie.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form_row(booking_form.allergies) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form_row(booking_form.submit) }}
                </div>
                {{ form_end(booking_form) }}
            </div>
        </div>
    </div>
    {# MODAL END #}
    <h1 class="mx-4 mt-4 mb-2">A l'affiche</h1>
    <section class="featured-items d-flex mb-2">
        <div id="carouselExampleIndicators" class="carousel slide m-0" data-bs-ride="true">
            <div class="carousel-indicators">
                {% for featuredDish in featuredDishes %}
                    {% if loop.index0 is same as 0 %}
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="{{ loop.index0 }}"
                                class="active"
                                aria-label="Slide {{ loop.index0 }}"></button>
                    {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="{{ loop.index0 }}"
                                aria-label="Slide {{ loop.index0 }}"></button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for featuredDish in featuredDishes %}
                    {% if loop.index0 is same as 0 %}
                        <div class="carousel-item active">
                            <div class="card text-bg-dark">
                                <img src="uploads/images/{{ featuredDish.image }}" class="card-img img-fluid" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">{{ featuredDish.title }}</h5>
                                    <p class="card-text">{{ featuredDish.description }}</p>
                                    <p class="card-text"><small>Catégorie : {{ featuredDish.category.label }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <div class="card text-bg-dark">
                                <img src="uploads/images/{{ featuredDish.image }}" class="card-img img-fluid" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">{{ featuredDish.title }}</h5>
                                    <p class="card-text">{{ featuredDish.description }}</p>
                                    <p class="card-text"><small>Catégorie : {{ featuredDish.category.label }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="selection" class="p-3">
            <h2 class="fw-bolder fs-1 m-2 mb-4">Notre sélection : </h2>
            <p class="px-3">Nos meilleurs plats du moment, à déguster sans attendre ! Ces plats changent régulièrement
                en
                suivant les avis de nos clients.</p>
            <p class="px-3 flex-grow-1 mb-0">Venez découvrir ces plats <strong>fait maison</strong> du chef Michant en
                réservant votre
                table au plus vite.</p>
            <div class="d-flex flex-grow-0 justify-content-center">
                <a class="mx-2 book-table" href="{{ path('app_full_menu') }}">Voir la carte &rarr;</a>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center align-items-center py-3 mb-3">
        <h2 class="p-0 m-0 fw-bolder">N'hésitez plus :</h2>
        <button class="mx-2 book-table" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Réserver une
            table
        </button>
    </div>
{% endblock %}

