{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

    <h1 class="ms-2">Register</h1>
    <div class="p-2 d-flex flex-column w-25">
        {{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Email :'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe :'
        }) }}
        {{ form_row(registrationForm.cutleryNumber) }}
        {{ form_row(registrationForm.allergies) }}
        <button type="submit" class="btn btn-primary">Soumettre</button>
        {{ form_end(registrationForm) }}
    </div>
    <p class="ms-2 mt-4">Déjà un compte ? <a class="book-table" href="/login">Se connecter</a></p>


{% endblock %}
